div.main-container {
    width: 100%;
    max-width: 1080px;

    padding: 20px 0;

    border-bottom: 1px solid #ddd;
}


.guess-button {
    background-color: #007bff;

    &._active {
        background-color: #0056b3;
        color: white;
    }

    &._disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}